/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 31, 2016, 12:56:25 AM
    Author     : Sarower Jahan
*/
/*== Color Variable ==*/
/*== Font Variable ==*/
/*== Extend ==*/
.focus_nav_item, header .navbar .nav > li.active a:hover, header .navbar .nav > li.open > a, header .navbar .nav > li.open > a:focus, header .navbar .nav li a:focus {
  background: #132d66;
  color: white;
  border-right: 1px solid #182951;
  border-left: 1px solid #2d4478; }

/*== Mixins ==*/
/*========== Global Css ==========*/
a {
  color: inherit; }
  a:hover {
    text-decoration: none; }

.btn {
  padding: 9px 40px;
  text-transform: uppercase;
  border-radius: 0;
  letter-spacing: 1px; }
  .btn.btn_base_color {
    background: #0c1c40;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s; }
    .btn.btn_base_color:hover, .btn.btn_base_color:focus {
      background: #132d66;
      color: white; }

/*== End Global Css==*/
/*========== Header Start Here ==========*/
header {
  background: #0f2351;
  color: white; }
  header .logo {
    float: left;
    max-width: 177px;
    margin: 10px 0; }
    header .logo img {
      margin-left: -6px; }
  header .office_name {
    float: left;
    margin-top: 47px;
    padding-left: 16px; }
    header .office_name h1 {
      margin: 0;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 400;
      border-bottom: 1px solid #3d4e74;
      padding-bottom: 5px; }
    header .office_name h2 {
      font-size: 29.5px;
      margin: 6px 0 0 0;
      font-family: 'SolaimanLipi'; }
  header .top_nav_bar {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
    text-align: right;
    background: #0c1c40; }
    header .top_nav_bar li {
      list-style: none;
      display: inline-block; }
      header .top_nav_bar li a {
        display: block;
        padding: 13px 20px; }
        header .top_nav_bar li a:hover {
          color: white;
          background: #132d66; }
  header .search_form {
    margin-top: 37px;
    background: #233c74;
    position: relative; }
    header .search_form input[type="text"] {
      border: 0;
      height: 36px;
      width: 100%;
      max-width: 250px;
      background: transparent;
      padding-left: 10px; }
      header .search_form input[type="text"]::-webkit-input-placeholder {
        color: #5972aa; }
      header .search_form input[type="text"]:focus {
        outline: none; }
    header .search_form input[type="submit"] {
      width: 36px;
      height: 36px;
      float: right;
      border: 0;
      position: relative;
      z-index: 2;
      opacity: 0; }
    header .search_form .fa-search {
      position: absolute;
      right: 0;
      top: 0px;
      width: 36px;
      height: 36px;
      text-align: center;
      padding: 10px; }
    header .search_form .fa-caret-down {
      width: 36px;
      height: 36px;
      padding: 10px;
      text-align: center;
      float: right;
      cursor: pointer; }
  header .navbar {
    border-radius: 0;
    border: 0;
    background: #0c1c40;
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 0; }
    header .navbar .nav {
      border-right: 1px solid #2d4478; }
      header .navbar .nav > li > a {
        padding: 15px 29px;
        color: white;
        border-right: 1px solid #182951;
        border-left: 1px solid #2d4478; }
        header .navbar .nav > li > a:hover {
          background: #132d66;
          color: white; }
      header .navbar .nav > li.active a {
        background: #132d66;
        color: white; }
      header .navbar .nav li a {
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -ms-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s; }
      header .navbar .nav li.dropdown .dropdown-menu {
        border-radius: 0;
        padding-bottom: 0;
        background: #132d66; }
        header .navbar .nav li.dropdown .dropdown-menu li a {
          color: white;
          padding: 10px 15px; }
          header .navbar .nav li.dropdown .dropdown-menu li a:hover {
            background: #0f2351;
            color: white; }

/*== Header End ==*/
/*========== Home Slider ==========*/
.slider .carousel-fade .carousel-inner .item {
  transition-property: opacity; }
.slider .carousel-fade .carousel-inner .item,
.slider .carousel-fade .carousel-inner .active.left,
.slider .carousel-fade .carousel-inner .active.right {
  opacity: 0; }
.slider .carousel-fade .carousel-inner .active,
.slider .carousel-fade .carousel-inner .next.left,
.slider .carousel-fade .carousel-inner .prev.right {
  opacity: 1; }
.slider .carousel-fade .carousel-inner .next,
.slider .carousel-fade .carousel-inner .prev,
.slider .carousel-fade .carousel-inner .active.left,
.slider .carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0); }
.slider .carousel-fade .carousel-control {
  z-index: 2; }
.slider .carousel .carousel-inner .item .carousel-caption {
  text-shadow: none;
  right: 0%;
  left: 0%;
  padding-bottom: 30px;
  max-width: 860px;
  margin: auto; }
  .slider .carousel .carousel-inner .item .carousel-caption .text {
    background: rgba(15, 35, 80, 0.5);
    padding: 15px;
    margin: 0 0 20px 0; }
    .slider .carousel .carousel-inner .item .carousel-caption .text h3 {
      margin: 0;
      font-weight: 700;
      text-transform: uppercase; }
    .slider .carousel .carousel-inner .item .carousel-caption .text h5 {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 400;
      margin: 10px 0 0 0;
      font-family: "Roboto", sans-serif; }
  .slider .carousel .carousel-inner .item .carousel-caption .btn_cont {
    margin-bottom: 20px; }
.slider .carousel .carousel-indicators li {
  border-color: #0c1c40;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }
  .slider .carousel .carousel-indicators li.active {
    background: #0c1c40; }

/*# sourceMappingURL=style.css.map */
