/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 31, 2016, 12:56:25 AM
    Author     : Sarower Jahan
*/

/*== Color Variable ==*/
$base_color : #0c1c40;
$base_color_lt : lighten($base_color,3.9%);
$base_color_lt_hover : lighten($base_color_lt,5%);


/*== Font Variable ==*/
$roboto : 'Roboto', sans-serif;
$roboto_con : 'Roboto Condensed', sans-serif;


/*== Extend ==*/
.focus_nav_item{
    background:$base_color_lt_hover;
    color:white;
    border-right:1px solid #182951;
    border-left:1px solid #2d4478;
}

/*== Mixins ==*/
@mixin transition($property,$duration){
    -webkit-transition:$property $duration;
    -moz-transition:$property $duration;
    -ms-transition:$property $duration;
    -o-transition:$property $duration;
    transition:$property $duration;
}
@mixin border_radius($t,$r,$b,$l){
    -webkit-border-radius:$t $r $b $l;
    -moz-border-radius:$t $r $b $l;
    -ms-border-radius:$t $r $b $l;
    -o-border-radius:$t $r $b $l;
    border-radius:$t $r $b $l;
}

/*========== Global Css ==========*/
body{
    font-family: $roboto;
    font-size:14px;
    line-height: 21px;
}
a{
    color:inherit;
    &:hover{
        text-decoration: none;
    }
}
.btn{
    padding:9px 40px;
    text-transform:uppercase;
    border-radius:0;
    letter-spacing: 1px;
    &.btn_base_color{
        background:$base_color;
        @include transition(all,.25s);
        &:hover,&:focus{
            background:$base_color_lt_hover;
            color:white;
        }
    }
}
h1{
    font-family: $roboto;
    text-transform: uppercase;
    font-weight: 700;
    color:$base_color;
    font-size:30px;
}
.section{
    padding:70px 0;
    .title{
        margin:0;
    }
}
p{
    color:#333333;
}
.sj{
    opacity: 0;
}
.form-control{
    border-radius: 0;
}/*== End Global Css==*/



/*========== Social Icons ==========*/
.social_icons{
    ul{
        margin:0;
        padding:0;
        li{
            display: inline-block;
            a{
                display:block;
                text-align: center;
                color:white;
                @include transition(all,.25s);
                .fa{
                    width:40px;
                    height:40px;
                    padding:13px;
                    @include border_radius(50%,50%,50%,50%);
                    display:block;
                    &.fa-facebook{
                        background:#3b5998;
                    }
                    &.fa-twitter{
                        background:#1da1f2;
                    }
                    &.fa-google-plus{
                        background:#db4437;
                    }
                    &.fa-pinterest{
                        background:#cd2129;
                    }
                    &.fa-instagram{
                        background:#2f689b;
                    }
                    &.fa-youtube{
                        background:#bb2025;
                    }
                    &.fa-linkedin{
                        background:#117bb8;
                    }
                }
                &:hover{
                    color:white;
                }
            }
        }
    }
}/*== End Social Icons ==*/




/*========== Header Start Here ==========*/
header{ 
    background:$base_color_lt;
    color:white;
    .logo{
        float:left;
        max-width:177px;
        margin:10px 0;
        img{
            margin-left:-6px;
        }
    }
    .office_name{
        float:left;
        margin-top: 47px;
        padding-left: 16px;
        h1{
            margin:0;
            font-size:30px;
            text-transform: uppercase;
            font-weight: 400;
            border-bottom: 1px solid #3d4e74;
            padding-bottom:5px;
            color:white;
        }
        h2{
            font-size:27px;
            margin:6px 0 0 0;
            font-family: 'SolaimanLipi';
            color:white;
        }
    }

    .top_nav_bar{
        margin:0;
        padding:0;
        font-size:16px;
        font-family:$roboto_con;
        text-align:right;
        background:$base_color;
        li{
            list-style: none;
            display: inline-block;
            a{
                display:block;
                padding:13px 20px;
                &:hover{
                    color:white;
                    background:$base_color_lt_hover;
                }
            }
        }
    }

    .search_form{
        margin-top: 37px;
        background:#233c74;
        position:relative;
        input[type="text"]{
            border:0;
            height:36px;
            width:100%;
            max-width: 250px;
            background:transparent;
            padding-left:10px;
            &::-webkit-input-placeholder {
                color: #5972aa;
            }
            &:focus{
                outline:none;
            }
        }
        input[type="submit"]{
            width:36px;
            height:36px;
            float:right;
            border:0;
            position:relative;
            z-index: 2;
            opacity:0;
        }
        .fa-search{
            position: absolute;
            right: 0;
            top:0px;
            width:36px;
            height:36px;
            text-align: center;
            padding:10px;
        }
        .fa-caret-down{
            width:36px;
            height:36px;
            padding:10px;
            text-align: center;
            float:right;
            cursor: pointer;
        }
    }
}/*== Header End ==*/



/*========== Navbar Start ==========*/
.navbar{
    border-radius: 0;
    border:0;
    background:$base_color;
    font-family:$roboto_con;
    margin-bottom:0;
    &.navbar_light{
        background:$base_color_lt;
    }
    .nav{
        border-right:1px solid #2d4478;
        >li{
            >a{
                padding: 15px 29px;
                color:white;
                border-right:1px solid #182951;
                border-left:1px solid #2d4478;
                &:hover{
                    background:$base_color_lt_hover;
                    color:white;
                }
            }
            &.active{
                a{
                    background:$base_color_lt_hover;
                    color:white;
                    &:hover{
                        @extend .focus_nav_item;
                    }
                }
            }
            &.open{
                >a{
                    @extend .focus_nav_item;
                    &:focus{
                        @extend .focus_nav_item;
                    }
                }
            }
        }
        li{
            a{
                @include transition(all, .25s);
                &:focus{
                    @extend .focus_nav_item;
                }
            }
            &.dropdown {
                .dropdown-menu{
                    border-radius: 0;
                    padding-bottom: 0;
                    background: $base_color_lt_hover;
                    li{
                        a{
                            color:white;
                            padding:10px 15px;
                            &:hover{
                                background:$base_color_lt;
                                color:white;
                            }
                        }
                    }
                }
            }
        }
    }
}/*== End Navbar ==*/




/*========== Home Slider ==========*/
.slider{
    .carousel-fade {
        .carousel-inner {
            .item {
                transition-property: opacity;
            }

            .item,
            .active.left,
            .active.right {
                opacity: 0;
            }

            .active,
            .next.left,
            .prev.right {
                opacity: 1;
            }

            .next,
            .prev,
            .active.left,
            .active.right {
                left: 0;
                transform: translate3d(0, 0, 0);
            }
        }

        .carousel-control {
            z-index: 2;
        }
    }
    .carousel{
        .carousel-inner{
            .item{
                .carousel-caption{
                    text-shadow:none;
                    right: 0%;
                    left: 0%;
                    padding-bottom: 30px;
                    max-width: 860px;
                    margin: auto;
                    .text{
                        background:rgba(15,35,80,.5);
                        padding:15px;
                        margin:0 0 20px 0;
                        h3{
                            margin:0;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                        h5{
                            font-size:20px;
                            text-transform: uppercase;
                            font-weight: 400;
                            margin:10px 0 0 0;
                            font-family: $roboto;
                        }
                    }
                    .btn_cont{
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .carousel-indicators{
            li{
                border-color:$base_color;
                @include transition(all,.25s);
                &.active{
                    background:$base_color;
                }
            }
        }
    }
}/*== End Slider ==*/




/*========== Welcome Message ==========*/
.welcome_text{
    text-align: center;
    p{
        max-width: 780px;
        margin: 10px auto 0;
        color: #292929;
    }
}/*== End Welcome Message ==*/




/*========== Services Section ==========*/
.services{
    background:#f2f2f2;
    padding-bottom:40px;
    .item{
        background:white;
        text-align:center;
        padding:30px;
        border-right:2px solid #dfdfdf;
        border-bottom:2px solid #dfdfdf;
        margin-bottom:30px;
        @include transition(all,2s);
        .icon{
            width:100px;
            height:100px;
            border-radius:50%;
            display: table;
            margin:auto;
            background: #c5d3eb;
            background: -moz-radial-gradient(center, ellipse cover,  #FFFFFF 0%, #c5d3eb 100%);
            background: -webkit-radial-gradient(center, ellipse cover,  #FFFFFF 0%,#c5d3eb 100%);
            background: radial-gradient(ellipse at center,  #FFFFFF 0%,#c5d3eb 100%);
            border:1px solid #a0b4d7;
            @include transition(all,2s);
        }
        h3{
            margin:14px 0 0 0;
            color:$base_color;
            font-family: $roboto_con;
            font-size:22px;
            font-weight: 700;
        }
        p{
            margin-bottom:0;
            a{
                color:$base_color;
                text-decoration: none;
                font-weight: 700;
            }
        }
        &:hover{
            .icon{
                background: -moz-radial-gradient(center, ellipse cover,  #FFFFFF 0%, #c5d3eb 00%);
                background: -webkit-radial-gradient(center, ellipse cover,  #FFFFFF 0%,#c5d3eb 0%);
                background: radial-gradient(ellipse at center,  #FFFFFF 0%,#c5d3eb 00%);
            }
        }
    }
}/*== End Services ==*/




/*========= Footer Section ==========*/
footer{
    background:darken($base_color,2%);
    color:#87a2be;
    .footer_top{
        border-bottom: 1px solid #000e1b;
        padding:70px 0 40px 0;
        .item{
            margin-bottom:30px;
            min-height:250px;
            h3{
                margin: 0 0 10px 0;
                font-size: 22px;
                color:#a5afba;
                padding-bottom: 5px;
                border-bottom: 1px solid #092949;
            }
            ul{
                padding:0;
                li{
                    list-style: none;

                    a{
                        @include transition(all,.25s);
                        &:hover{
                            color:white;
                        }
                    }
                }
            }
            &.site_info{
                line-height: 23px;
            }
            &.contact_us{
                ul{
                    li{
                        line-height: 20px;
                        margin-bottom: 10px;
                        padding: 0 0 0 90px;
                        position:relative;
                        .fa{
                            position:absolute;
                            left:0;
                            top:0;
                            padding-top:1px;
                            width:20px;
                            height:20px;
                            &.fa-mobile{
                                font-size: 21px;
                                top: -2px;
                            }
                            &.fa-fax{
                                font-size:12px;
                            }
                            &.fa-envelope{
                                font-size:12px;
                                top: 2px;
                            }
                        }
                        .title{
                            position:absolute;
                            left:15px;
                            top:0;
                            width:70px;
                            height:30px;
                            font-weight: 700;
                            &::after{
                                content:':';
                                right:-3px;
                                position:absolute;
                            }
                        }
                    }
                }
            }
            &.notice_board{
                text-align: justify;
                ul{
                    li{
                        margin-bottom: 10px;
                        line-height:18px;
                        a{
                            font-weight: 700;
                        }
                    }
                }
            }
            &.emergency_contact{
                .form-control{
                    background:#07233f;
                    border:1px solid #0b2f53;
                    box-shadow: 1px 1px 0px #001225;
                    @include transition(all,.25s);
                    &::-webkit-input-placeholder {
                        color: #87a2be;
                    }
                    &:focus{
                        background:#0b2f53;
                    }
                }
                .btn-primary{
                    height:36px;
                    background:#0b2f53;
                    border: 1px solid #0c457e;
                    @include transition(all,.25s);
                    color:white;
                    &:hover{
                        background:#0c457e;
                    }
                }
            }
        }
    }

    .footer_last{
        background:#001224;
        border-top:1px solid #012242;
        padding:10px;
        color:#87a2be;
        .copy_message{
            margin-top: 25px;
        }
        .social_icons{
            margin:10px 0;
            ul{
                text-align:right;
            }
        }
    }
}/*== End Footer ==*/



/*========= Responsive Css ==========*/
@media screen and (max-width:1199px){
    .welcome_text{
        .content{
            br{
                display:none;
            }
        }
    }
    .services{
        .item{
            br{
                display:none;
            }
        }
    }
}
@media screen and (max-width:570px){
    h1{
        font-size:22px;
    }
    .full_570{
        width:100%;
    }
    footer{
        .footer_last{
            .copy_message{
                text-align: center;
            }
            .social_icons{
                ul{
                    text-align: center;
                }
            }
        }
    }
}
@media screen and (max-width:480px){
    .full_480{
        width:100%;
    }
}